<% layout("/layouts/boilerplate") %>
<script>
  const mapToken = "<%=process.env.MAP_TOKEN%>";
  const listing=<%-JSON.stringify(listings)-%>       // converting all listing docs into JSON
</script>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%=listings.title%></h3>
  </div>

  <!-- Card div-->
  <div class="card col-6 offset-3 show-card mb-4 listing-card">
    <!-- imag -->
    <img
      src="<%=listings.image.url%>"
      class="card-img-top show-image"
      alt="listing_image"
    />
    <!-- card Body -->
    <div class="card-body">
      <p class="card-text">
        owned By:<b><i><%=listings.owner.username%></i></b>
      </p>
      <p class="card-text"><%=listings.description %></p>
      <p class="card-text">
        <b> &#8377; <%=listings.price.toLocaleString("en-IN")%></b>
      </p>
      <p class="card-text"><%=listings.location%></p>
      <p class="card-text"><%=listings.country%></p>
    </div>
  </div>
  <!-- btn div -->
  <%if(currUser && listings.owner._id.equals(currUser._id)){%>
  <div class="btns">
    <a
      href="/listings/<%=listings._id%>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
      >Edit</a
    >
    <form method="POST" action="/listings/<%=listings._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% }%>
  <!-- Review div -->

  <div class="col-8 offset-3 mb-3">
    <%if(currUser){%>
    <hr />
    <h4>Leave A reveiw</h4>
    <form
      action="/listings/<%=listings._id%>/reviews"
      method="post"
      class="needs-validation"
      novalidate
    >
      <!-- Rating div -->

      <div class="mb-3 mt-3">
        <label for="rating" class="form-label"> Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="rating"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <!-- comment div -->

      <div class="mt-3 mb-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          class="form-control"
          type="text"
          id="comment"
          name="review[comment]"
          cols="30"
          rows="5"
          required
        ></textarea>
        <div class="invalid-feedback">please add some comment for review</div>
      </div>
      <!-- btn div -->
      <div>
        <button class="btn btn-outline-dark mt-3">Submit</button>
      </div>
    </form>
    <hr />
    <% } %> <% if ( listings.reviews.length>0) {%>
    <div class="row">
      <p><b>All Reviews</b></p>
      <%for(review of listings.reviews){%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<i><%=review.author.username%></i></h5>
          <p
            class="starability-result card-text"
            data-rating="<%=review.rating%>"
          ></p>
          <p class="card-text"><%=review.comment%></p>
        </div>
        <form
          method="POST"
          action="/listings/<%=listings._id %>/reviews/<%=review._id%>?_method=DELETE"
          class="mb-3 mt-3"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
    <% } %>
  </div>

  <!-- Map div -->

  <div class="col-8 offset-3 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div>
</div>

<script src="/js/map.js"></script>
